
.Banner_horizontal {
    max-width: 280px;
    /* max-height: 300px; */

    width: 100%;

    border-radius: 8px;

}

.Banner_container{
    display: grid;
    justify-items: center;
    
    width: 100%;
    max-width: 1400px;

    grid-template-columns: repeat(5, minmax(10px, 1fr));
    row-gap: 32px;
    grid-column-gap: 2%;
}

.Film_Banner {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    margin: auto;

    row-gap: 32px;

}