.showtimeTabBody{
    background-color: #003C4B;
    padding: 20px;
    color: #fff;
    border-radius:0 0 8px 8px;
}

.startTimeContainer{
    display: flex;
    column-gap: 5%;
}
.startTime {
    background-color: #DFF2ED;
    color: #003C4B;
}

.manageShowtimeBtn {
    display: flex;
    justify-content: flex-end;
}

.slick-slider {
    background-color: #DFF2ED;
    border-radius: 16px;
}