.btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn.next-expand {
    margin: 10px;
}

.btn.prev-expand {
    margin: 10px;
    margin-right: 80px;
}

.total-box {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}