.header{
    height: 80px;
    width: 100%;
    top: 0;

    background-color: #DFF2ED;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px; 
    list-style-type: none;
    position: fixed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 16px 16px;
}

.LogoutButton, .CSKHButton{
    background-color: #003C4B;

    text-align: center;
    text-justify: auto;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;

    margin: 80px;
    height: 56px;
    width: 180px;
    border-radius: 8px;
}

.LogoutButton{
    margin: 40px;
}

.LogoutButton:hover, .CSKHButton:hover{
    background-color: #B7EDFF;
    color: #003C4B;
}