div.legends {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center
}

div.seat.available {
    background-color: #00ccff;
}

div.seat.selected {
    background-color: #04c555;
}

div.seat.occupied {
    background-color: #e0e0e0;
}

div.legend {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 10px;

}

span.available {
    color: #000;
}

span.selected {
    color: #000;
}

span.occupied {
    color: #000;
}

