.Tabs {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.Tab {
  min-height: 80px;
  width: 100%;

  background-color: #DFF2ED;
  margin: 0px;
  padding: 0px;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 16px 16px 0px 0px;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.tab-btn {
  flex: 1;
  background-color: #DFF2ED;
  color: #000000;
  border-radius: 16px 16px 0px 0px;
  margin: 0px;
}

.tab-btn:hover{
  background-color: #59858c;
  color: #ffffff;
}

.active-tab-btn {
  background-color: #003C4B;
  color: #ffffff;
}

.active-tab-btn:hover {
  background-color: #003C48;
}

.add-btn {
  background-color: #DFF2ED;
  color: #000000;
  
  width: 100%;
  margin-top: 0px;
}

.add-btn:hover {
  background-color: #59858c;
  color: #ffffff;
}

.TabBody {
  width: 100%;
  
  max-height: 55vh;
  padding-bottom: 40px;

  display: grid;
  grid-template-columns: 1fr 3fr;
}

.TabToolbar {
  /* display: flex; */

  padding-top: 40px;
  padding-left: 4%;
  padding-right: 4%;
}

.TabContent {  
  max-height: 50vh;

  padding-top: 40px;
  padding-right: 4%;

  display: grid;
  grid-template-columns: repeat(6, minmax(10px, 1fr));
  justify-items: center;

  column-gap: 2%;
  row-gap: 32px;
}
