.Confirm{
  text-align: center;
}

.Confirm_Button{
    background-color: #2EB19F;
    min-width: 178px;
    min-height: 52px;
    text-align: center;
    text-justify: auto;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin: 10px 10px 30px 10px;
}

.Confirm_Button:hover{
  background-color: #3D9A8B;
  color: white;
}
