.confirmBtn{
    background-color: #2EB19F;
    min-width: 178px;
    min-height: 52px;
    text-align: center;
    text-justify: auto;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin: 10px 10px 10px 10px;
}

.confirmBtn:hover{
  background-color: #3D9A8B;
  color: white;
}

.reply_user_feedback{
    background-color: #ffffff;
    margin: 10px 0px 10px 20px;
    border-radius: 20px;
    padding: 30px 10px 0 20px;
}

.prenext{
	background-color: #2EB19F;
    border: none;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

.prenext:hover{
	background-color: #3D9A8B;
}
.user_feedback{
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 28px;
    font-weight: bold;
}

.fcontent {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
}

.user_feedback_res{
    background-color: #ffffff;
    margin: 10px 0px 10px 20px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    padding: 30px 10px 40px 20px;
}

.user_feedback:hover{
    -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.66);
}

.getright{
    text-align: right; 
}


@media (max-width: 800px) { 
    .mqfb {
        margin-left: 25px;
    } 
    .user_feedback{
        font-size: 20px;
    }
}

.filterBtn{
    width: 100%;
	background-color: #63C2D2;
	color: #000000;
    text-align: left;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin: 10px;
	padding: 10px 20px 10px 20px;
}

.newFb_img, .myFb_img {
  	width: 24px;
	height: 24px;
	margin-right: 20px;
	
}

.filterBtn:hover{
	background-color: #2EB19F;
	color: white;
}