.ticket-item {
    border: 3px solid #121111;
    margin-bottom: 30px;
    position: relative;
}



.ticket-item__button {
    position: absolute;
    top: 70%;
    left: 80%; 
    right: 50%;

}

.container {
    margin-top: 50px;
    padding: 0 15px;
}