.Left_header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
}

#Ham-icon {
    padding-left: 40px;
}

#Home-logo{
    margin-left: 20px;
}

.LoginButton{
    background-color: #003C4B;

    text-align: center;
    text-justify: auto;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;

    margin: 80px;
    height: 56px;
    width: 180px;
    border-radius: 8px;
}

.LoginButton:hover{
    background-color: #DFF2ED;
}

.modal-title{
    padding-left: 10%;
}

.modal-body{
    padding-top: 0px
}

.btn-group-vertical{
    width: 80%;

    margin-left: 10%;
    margin-right: 10%;
}

.LoginOption{
    border-radius: 16px;
}

.LandingPage{
    background-color: #B7EDFF;
    min-height: 1000px;
    height: 100%;
}

.LandingPage_main{
    padding-top: 100px;
    padding-bottom: 60px;
}