.Left_header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
}

#Ham-icon {
    padding-left: 40px;
}

#Home-logo{
    /* border: 1px solid #003C4B;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; */
    margin-left: 20px;
    /* box-sizing: border-box; */
}

.LoginButton{
    background-color: #003C4B;

    text-align: center;
    text-justify: auto;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;

    margin: 80px;
    height: 56px;
    width: 180px;
    border-radius: 8px;
}

.LoginButton:hover{
    background-color: #B7EDFF;
    color: #003C4B;
}

.modal-title{
    padding-left: 10%;
}

.modal-body{
    padding-top: 0px
}

.btn-group-vertical{
    width: 80%;

    margin-left: 10%;
    margin-right: 10%;
}

.LoginOption{
    border-radius: 16px;
}

/* 
.btn-primary {
    text-align: center;
    text-justify: auto;
    font-size: 20px;
    font-weight: bold;

    --bs-btn-color: #ffffff;
    --bs-btn-bg: #003c48;
    --bs-btn-hover-color: #003c48;
    --bs-btn-hover-bg: #B7EDFF;
    --bs-btn-focus-shadow-rgb: 0,0,0;
    --bs-btn-active-bg: #003C4B;
    border-width: 0px;
} */


.LandingPage{
    background-color: #B7EDFF;
    min-height: 1000px;
    height: 100%;
    /* padding-bottom: ; */
}

.LandingPage_main{
    padding-top: 100px;
    padding-bottom: 60px;
}