.contact {
	margin-top: 40px;
    text-align: center;
}

.contact_inf > p {
	margin: 0 40px 40px 40px;
	padding-left: 40px;
	font-style: italic;
}

.contact_inf{
	text-align: justify;
	margin: 10px;
}